.searchFieldCustomDesign{
    float: none !important;
    margin-right: 0;
    margin-top: 0;
    outline: none !important;
    border-radius: 20px;
    width: 100% !important;
    background-color: #fff;
    height: auto !important;
}
.searchFieldCustomDesign i { 
    padding-top: 0!important;
}
.facebookSocialIcon{
    /*background: red;*/
}
.media-login button:nth-child(1){
    background: #0572e6!important;
    border: none;
    color: #fff;
}
p,h1,h2,h3,h4,h5,h6, div, button, a, strong, span, li, td, th, ul, ol,label,input,u,i{
    font-family: serif;
}
